
<!-- <router-outlet></router-outlet> -->

<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<div class="container">
  <button class="botonLista" mat-raised-button color="primary" (click)="toggleList()">
    <div *ngIf="mostrarLista; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <span>Ocultar lista</span>
    </ng-template>
    <ng-template #elseBlock>
      <span>Mostrar lista</span>
    </ng-template>
  </button>
  <div *ngIf="mostrarLista">
    <table>
      <thead>
          <th>Nombre</th>
          <th>Costo</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaDeProductos">
          <td>{{item.nombre}}</td>
          <td>{{item.costo}}</td>
        </tr>
      </tbody>
    </table>

    <br>

    <div class="table-container">
      <table mat-table [dataSource]="listaDeProductos" class="mat-elevation-z8">

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="costo">
          <th mat-header-cell *matHeaderCellDef> Costo </th>
          <td mat-cell *matCellDef="let element"> {{element.costo}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>
    </div>
  </div>
</div>
